<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<phpunit colors="true" verbose="true" bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="Test suite">
            <!-- tests フォルダ配下のテストファイルをテストする -->
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
